.ingredient_card {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: 272px;
  cursor: pointer;
}
.image {
  width: 240px;
  height: 120px;
}
.price_info {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.price {
  color: #f2f2f3;
  font-size: 1.75rem;
  line-height: 1.5rem;
  font-family: "Iceland";
}
.ingredient_title {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: "Jet Brains Mono";
}
.link {
  text-decoration: none;
  color: inherit;
}
