.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.title {
  line-height: 1.875rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: #f2f2f3;
  font-family: "Jet Brains Mono";
  margin: 0 0 100px;
}
