.header {
  display: flex;
  align-items: center;
  background-color: var(--background);
  height: 88px;
}

.navigation {
  display: grid;
  grid-template-columns: auto auto 1fr auto;
  justify-items: center;
  width: 100%;
  grid-gap: 8px;
}

.a {
  padding: 16px 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.span {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #f2f2f3;
  margin-left: 8px;
  font-family: "Jet Brains Mono";
}
.span:hover {
  color: var(--text-inactive-color);
}
