.header {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  background-color: var(--background);
  height: 88px;
  width: 100%;
  justify-content: center;
}

.link {
  text-decoration: none;
  padding: 16px 20px;
  display: flex;
  align-items: center;
}

.navigation {
  display: grid;
  grid-template-columns: auto auto 1fr auto;
  justify-items: center;
  width: 100%;
  grid-gap: 8px;
  max-width: 1240px;
}

.a {
  color: #8585ad;
  width: 100%;
  padding-left: 88px;
  box-sizing: border-box;
}
.active {
  color: #f2f2f3;
}

.span {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #8585ad;
  margin-left: 8px;
  font-family: "Jet Brains Mono";
}
.active_span {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #f2f2f3;
  margin-left: 8px;
  font-family: "Jet Brains Mono";
}
